<html ng-app>
  <head>
    <title>
      Genip
    </title>
  </head>
  <body>
    <h1>Ginep!</h1>
    <img src="ginep.jpg" width="150"/>
    <br>
    
    <div class="container">
      Name: <input type="text" ng-model="name" /> {{name}}
    </div>
    
    <div class="container"
         ng-init="names=['Igor', 
                         'Daniel', 
                         'Jenica', 
                         'Joy']" >
      <h3>Looping through our names:</h3>
      <ul>
        <li ng-repeat="n in names">
          {{ n }}
        </li>
      </ul>
    </div>
    
    <hr>
    
    <div ng-init="
      customers=[
        { cst_name: 'Igor Entaltsev',
          cst_age: '39'
        },
        { cst_name: 'Jenica Entaltseva',
          cst_age: '37'
        },
        { cst_name: 'Daniel Entaltsev',
          cst_age: '16'
        },
        { cst_name: 'Joy Entaltseva',
          cst_age: '13'
        }
      ]
         ">
      Customer:
      <br>
      <input
        type="text"
        ng-model="customer"/>
      
      <ul>
        <li ng-repeat="c in customers | filter:customer
                                      | orderBy: 'cst_age' ">
          {{ c.cst_name | uppercase }} - {{ c.cst_age }}
        </li>      
      </ul>
    </div>
    
    <script src="angular.min.js">
    </script>
  </body>
</html>